/*
rgb(190,226,231)
rgb(79,87,170)
rgb(69,72,87)
rgb(114,129,139)
rgb(143,0,46)
 */

/*
todo:
need to add transitions for turn based background
 */

body{
  font-family: 'Short Stack', cursive;
  background-color: rgba(45, 45, 46, 0.89);
  color: rgb(244, 244, 244);
}
input{
  font-family: 'Short Stack', cursive;
}
.container{
  max-width: 500px;
  margin: 0 auto;
}
.attemptBox{
  border: 1px solid blue;
}
.attemptBox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#mainGuess{
  border: 1px solid red;
}
.numGuess{
  height: 50px;
  width: 50px;
  border-top: 5px solid rgb(190,226,231);
  border-left: 5px solid rgb(190,226,231);
  border-right: 5px solid rgb(114,129,139);
  border-bottom: 5px solid rgb(114,129,139);
  border-radius: 5px;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 26px;
}
.numSubmit{
  text-align: center;
}
.inputWrapper{
  text-align: center;
}
#attemptBox{
  border: 1px solid green;
  grid-column: 3/3;
}
.historyList{
  border: 1px solid purple;
  grid-column: 1/3;
  grid-row: 1;
}
.correct{
  background-color: green;
}
.wrong{
  background-color: rgba(161, 24, 24, 0.8);
}
